<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/authors">Авторы</a>
    <a href="/books">Книги</a>
    <form>
        <input type="text" name="key_word"><button>Поиск</button>
    </form>
    <h1 style="color: red">Тут будет список книг:</h1>
    {% for object in object_list %}
        <h2>
            <a href="{{ url_for('db_book', id=object.id) }}">
                {{ object.name }} - {{ object.author }}
            </a>
        </h2>
    {% endfor %}
</body>
</html>